<div class="container">
  <%= @comic.title %>
</div>
<div class="container">
  <%= link_to 'Edit', edit_comic_path, class: 'btn btn-secondary' %>
</div>
<div class="container">
  <%= link_to 'Delete', @comic , method: 'delete', class: 'btn btn-secondary' %>
</div>
<div class="container" >
  <% @pages.each do |page| %>
    <%= link_to " pag ##{page.id}", comic_page_path(@comic, page) %>
  <% end %>
</div>
<div class="container">
  <%= link_to 'New Page', new_comic_page_path(@comic), class: 'btn btn-secondary'%>
</div>