<!DOCTYPE html>
<html>
  <head>
    <title>Somecomix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% unless flash[:success].nil? %>
      <div class="container alert alert-primary" >
        <%= flash[:success] %>
      </div>
    <% end %>

    <% unless alert.nil? %>
      <div class="container alert alert-danger">
        <%= alert %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

